<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict>
	</dict>
	<key>Build Version</key>
	<string>17E262</string>
	<key>Device Name</key>
	<string>iPad</string>
	<key>Display Name</key>
	<string>iPad</string>
	<key>GUID</key>
	<string>84C97E30D4C7684637ADBD82E68KI48</string>
	<key>ICCID</key>
	<string></string>
	<key>IMEI</key>
	<string></string>
	<key>Installed Applications</key>
	<array>
	</array>
	<key>Last Backup Date</key>
	<date>2020-04-24T17:49:10Z</date>
	<key>Phone Number</key>
	<string></string>
	<key>Product Name</key>
	<string>iPad</string>
	<key>Product Type</key>
	<string>iPad8,7</string>
	<key>Product Version</key>
	<string>13.4.1</string>
	<key>Serial Number</key>
	<string>DLXXL14YKC4W</string>
	<key>Target Identifier</key>
	<string>00008027-000965882E22002E</string>
	<key>Target Type</key>
	<string>Device</string>
	<key>Unique Identifier</key>
	<string>00008027-000965882E22002E</string>
	<key>iTunes Files</key>
	<dict>
		<key>IC-Info.sidv</key>
		<data>
		AAEAARfFAF6ulrw/mu4NsHOHsCp/O39CafjXCNs4sqck/CplanLJnLHiN/+i
		wM6bXyeO1UmrNaawCL0OEjM/1NrvmzueQE1sqzUWhCzNPzsxW2KG9QIq4Tev
		wownTnMa0SVVNNufp1kZvf8er4TMWyRK1Z7a2XnrMc4g5Q/NkjrSQwlFpkfY
		eRJHrWpsxTtZswh2viJFkhcwt1xqoeHlacuNbLgOHlVY2x+LdL8s2/RO2vrG
		MCwb4h9d2wSCaF8/0Ppd9MIuIBLzZPNmC4j6pnZYsj19M8geVPPmVWN2V4x6
		cKEs94NySwT8o3zDil8pcUgxTS5/rSMKunZrGLZL48slO0fWxMOugoUcYbKS
		L8oj9NjkNjvz3J7rHiBbUvf8ck7qdH3wwdO772vd0mv2cmmKWVGenCvjH6IH
		Ib3ThTxtV0MNiJjOwGQ3CGdkRqBCOdGpOxrBXlQWTFzmC++XccSQZwQMI45+
		C2gP4iey7maDTk47/d0WJ8r2hY0YyqaSz7zVz47wS5C1XegAJetnIZgrYp3j
		x4hvKZlZs+STG1HBKzdQevIcKgCa33kWb/fVqhoQD7/7KFv2AreGWhsogXXI
		6/JH/P9HoGU+nVnLyLckz70xdElgftlYgfGNcmnQGmrTo0G2LzGYbYRte+I1
		4zKAW05tAr0jGL6Zy4naH+1iVCo3lhgtg8ET22qvkpVo6n+KeVz8Xa/bLrJ9
		92efHDsXm9rjJgtEcd4W+eQDIDFfTrFbQMn6Kn0yI6jsbTzfLzOKfhhjQf0N
		2//EOiiSWMnDBjhvizr2U+31syzwWNPJm470dm8GbVujG2UQM5t5Ut7OX4Gv
		fYQWSeUzIMKAt2MNlp7a7dSjRMJNCLOZaloFx2bl+iP9vOJ+ERqCMRM6rc4t
		tg/5y3jfHtK4BpjMcml73jrTIqy/hZk94mkMbyjDVQem+1FJPXek5gW/j0eV
		kDKs0Owuy7RXtlwAdwxbKKH8ARaHZZC0wuNuHkdmNGPXRHLPSXnMwygzm8nf
		+plSYChQElrZmrTOPJzqZfHMYzIGXbfphCZavUkhPbgZcdiAbWUe3RMIP6eT
		Ifi7Co0mX4FTlXqYOsZ6AEwt2xP9RzMdgI8JgWrsXZyVwSOwpTIjJF0sWj1i
		fS79vZ1C9K5PraVuTuU9mJAGCaycrU4b047rva+PT00ubqvGHM/1CFv2EwDG
		XYIwZzvpLhXe+WTqBOPnSsBAc3Uk58vcAhSOqn5IIGGaoLxiZ9a4cEMtvqpN
		O+EBAhpr718p/i+mX3hkjECNeInBAx0QgzCbSFHhFfp6ENJkpK5rsEOfgxQp
		M1gnm4ObEfxZB/856PV5d9dU8jF4N9VztMVNJ4ICx4AReSnxpSrNgRMYOkCE
		HueXg7w0AjoNj7ILl2ka26PRDaFPfHQ0BNRouxwuycoFXXgjW6hAsRERM7wf
		Kwscjs6lqEc/OFNv17GIjBBO5Sjo8oE6omn5Y5K41YBK8Qah2Be6nVb8yrFB
		TqFeArZQzStPASBL+vfq
		</data>
		<key>VoiceMemos.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
		WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
		IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
		LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdC8+CjwvcGxpc3Q+
		Cg==
		</data>
		<key>iTunesPrefs</key>
		<data>
		ZnJwZAEAGQABAQABhMDslmILQrIsnoJL9OLijwAAAAAAAAABAAAAAAAAAAAA
		AAAAAQAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAClqHItfu7UrwAB
		AAQAAAAAhMDslmILQrICAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAgAAAAEBAAAAAAAAAAAAAAEAAQAAAAEAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPs2MDK0LpsWtypK2e7bPr+n
		fvioAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAEAAAAAAAAADwAAAAAAAQABAAAAAAEBgAAAAAAAAQAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaU9TQERaAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAElP
		U0RaLVBDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaU9TQERaAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAElPU0RaLVBDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABpT1NARFoAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAASU9TRFotUEMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>iTunesPrefs.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
		WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
		IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
		LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+QXVk
		aW9ib29rUGxheWxpc3RJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PkF1ZGlv
		Ym9va1RyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Nb3ZpZVBsYXls
		aXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Nb3ZpZVRyYWNrSURzPC9r
		ZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY0FsYnVtSURzPC9rZXk+Cgk8YXJy
		YXkvPgoJPGtleT5NdXNpY0FydGlzdElEczwva2V5PgoJPGFycmF5Lz4KCTxr
		ZXk+TXVzaWNHZW5yZU5hbWVzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNp
		Y1BsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY1RyYWNr
		SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Qb2RjYXN0Q2hhbm5lbElEczwv
		a2V5PgoJPGFycmF5Lz4KCTxrZXk+UG9kY2FzdFBsYXlsaXN0SURzPC9rZXk+
		Cgk8YXJyYXkvPgoJPGtleT5Qb2RjYXN0VHJhY2tJRHM8L2tleT4KCTxhcnJh
		eS8+Cgk8a2V5PlRWU2hvd0FsYnVtSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtl
		eT5UVlNob3dOYW1lczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+VFZTaG93UGxh
		eWxpc3RJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlRWU2hvd1RyYWNrSURz
		PC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5pUG9kUHJlZnM8L2tleT4KCTxkYXRh
		PgoJWm5Kd1pBRUFHUUFCQVFBQmhNRHNsbUlMUXJJc25vSkw5T0xpandBQUFB
		QUFBQUFCQUFBQUFBQUFBQUFBQUFBQUFRQUEKCUFBQUNBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQVFBQUFBQ2xxSEl0ZnU3VXJ3QUJBQVFBQUFBQWhN
		RHNsbUlMCglRcklDQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFCQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQWdBQUFBRUJBQUFB
		QUFBQUFBQUFBQUVBQVFBQUFBRUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUEKCUFBQUFBUHMyTURLMExwc1d0eXBLMmU3YlByK25mdmlv
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBUDhBQUFBQUFBQUFBQUFBCglBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBRUFBQUFBQUFBQUR3QUFBQUFBQVFBQkFBQUFBQUVC
		Z0FBQUFBQUFBUUFBQUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQWFVOVRRRVJhQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUVsUFUwUmFMVkJEQUFB
		QQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQWFVOVRRRVJhQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUVsUFUwUmFMVkJEQUFBQUFBQUFB
		QUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUJwVDFOQVJGb0FBQUFBCglBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQQoJQUFBQVNVOVRSRm90VUVNQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUE9Cgk8L2RhdGE+Cgk8a2V5
		PmlUdW5lc1ZlcnNpb248L2tleT4KCTxzdHJpbmc+MTIuNy4xPC9zdHJpbmc+
		CjwvZGljdD4KPC9wbGlzdD4K
		</data>
	</dict>
	<key>iTunes Settings</key>
	<dict>
	</dict>
	<key>iTunes Version</key>
	<string>12.7.1.14</string>
</dict>
</plist>
